ul{
    list-style: none;
}
a{
    text-decoration: none;
    color:black;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul{
    display: flex;
    gap: 10px;
}
#v1{
   background-size: cover;
   text-align: center;
    background-image: url(https://media.wired.com/photos/613151a2cfefaad6769d7033/16:9/w_2399,h_1349,c_limit/Gear-tips-for-one-hand-typing.jpg);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
#v1 h1{
    bottom: 10%;
    color: white;
}
#v1 p{
    color: white;
    align-items: center;
}
    